{% extends 'base.html' %} {% load static %} {% block content %}
<div class="p-5">
  <h1 class="text-center text-decoration-underline">
    <b><el>Cancellation and Return Policy</el></b>
  </h1>
  <br />

  <h4>
    Cancellation and Return Policy At Gifshion, we value your satisfaction and want to ensure that
    your shopping experience is hassle-free. We understand that sometimes circumstances change or
    preferences may differ, which is why we have a straightforward returns and cancellation policy
    in place.
  </h4>
  <br />
  <h4>
    Returns: If you are not completely satisfied with your purchase, you can initiate a return
    within 15 days from the date of delivery. Please follow these guidelines for a smooth return
    process:
  </h4>
  <br />
  <h4>
    <ol>
      <li>
        The item must be unused, in its original packaging, and in the same condition as when you
        received it.
      </li>
      <li>
        .Contact our customer support team or visit our website to initiate the return request.
      </li>
      <li>
        .Our team will guide you through the necessary steps and provide you with a return
        authorization.
      </li>
      <li>
        .Once the return is authorized, you can send the item back to us using a reliable shipping
        method.
      </li>
      <li>
        .Upon receiving the returned item and verifying its condition, we will process your refund
        or credit note whichever is required.
      </li>
    </ol>
  </h4>
  <br />
  <h4>
    <em>
      *The credit note is used to offset the amount against future purchases from Gifshion. For
      example, if the credit note amount is Rs 500, you can deduct this amount from your next
      purchase or apply it towards any outstanding balance you may have with Gifshion. It's
      important to note that credit notes are typically valid for a specific period of time, so it's
      advisable to use them within the designated timeframe. Additionally, credit notes are usually
      non-transferable and can only be used by the original recipient. If you have received a credit
      note from Gifshion, please refer to the instructions provided on the document for the specific
      terms and conditions of its usage. If you require further assistance or have any questions
      regarding your credit note, our customer support team will be more than happy to assist you.
      *Please note that any shipping charges incurred during the initial purchase or return process
      may not be refundable.
    </em>
  </h4>
  <br />
  <h4>
    Cancellation: If you wish to cancel your order, you can do so within 24 hours of placing it.
    Follow these steps for a cancellation request:
    <ol>
      <li>
        .Contact our customer support team immediately or visit our website to request a
        cancellation.
      </li>
      <li>.Provide your order details and reason for cancellation.</li>
      <li>
        .Our team will review your request and confirm the cancellation if it's within the specified
        time frame.
      </li>
      <li>
        .If the cancellation is approved, we will initiate a refund to your original payment method.
      </li>
      <li>
        .Please note that in case your order has already been shipped or if the cancellation request
        is made after the 24-hour window, we might not be able to cancel the order. In such cases,
        you can initiate a return as mentioned above.
      </li>
    </ol>
    <br />

    We strive to process all returns and cancellations promptly, ensuring a smooth and satisfactory
    resolution for our customers. Should you have any further questions or require assistance,
    please don't hesitate to reach out to our dedicated customer support team. Thank you for
    choosing Gifshion as your trusted online shopping destination.
  </h4>
</div>
{% endblock %}
