{% extends 'base.html' %} {% load static %} {% block content %}
<div class="p-5">
  <h1 class="text-center text-decoration-underline">
    <b><el>Exchange Policy</el></b>
  </h1>
  <br />
  <h4>
    Exchange Policy: At Gifshion, we understand that sometimes you may need to exchange a product
    due to reasons such as size, colour, or personal preference. We strive to provide a hassle-free
    exchange process to ensure your satisfaction. Please review our exchange policy below:
  </h4>
  <br />
  <h4>
    Eligibility for Exchange: To be eligible for an exchange, please ensure that the following
    conditions are met:
  </h4>
  <br />
  <h4>
    The item must be unused, in its original packaging, and in the same condition as when you
    received it.
  </h4>
  <br />
  <h4>The exchange request should be initiated within 15 days from the date of delivery.</h4>
  <br />
  <h4>Exchange Process: To initiate an exchange, please follow these steps:</h4>
  <br />
  <h4>Contact our customer support team or visit our website to initiate the exchange request.</h4>
  <br />
  <h4>
    Provide the necessary details such as your order number, product information, and reason for the
    exchange.
  </h4>
  <br />
  <h4>
    Our customer support team will guide you through the necessary steps and provide you with an
    exchange authorization.
  </h4>
  <br />
  <h4>
    Once the exchange is authorized, you can return the item to us using a reliable shipping method.
  </h4>
  <br />
  <h4>
    Upon receiving the returned item and verifying its condition, we will process the exchange and
    ship the replacement item to you.
  </h4>
  <br />
  <h4>Conditions for Exchange:</h4>
  <br />
  <h4>
    The exchange is subject to product availability. If the requested replacement item is not
    available, we will provide alternatives or issue a refund.
  </h4>
  <br />
  <h4>
    In case the exchanged item has a price difference from the original item, you may need to pay
    the additional amount or receive a partial refund accordingly.
  </h4>
  <br />
  <h4>Any shipping charges incurred during the exchange process may not be refundable.</h4>
  <br />
  <h4>
    Exceptions: Please note that certain products may not be eligible for exchange due to hygiene or
    safety reasons. These may include items such as perishable goods like Cakes, Flowers and
    Chocolates. We encourage you to review the product description or contact our customer support
    team for any specific queries regarding exchange eligibility.
  </h4>
  <br />
  <h4>
    Our aim is to ensure your satisfaction with every purchase from Gifshion. If you have any
    further questions or require assistance regarding our exchange policy, please feel free to reach
    out to our dedicated customer support team.
  </h4>
  <br />
  <h4>Thank you for choosing Gifshion for your shopping needs!</h4>
</div>
{% endblock %}
