{% extends 'base.html' %} {% load static %} {% block content %}
<diviv class="p-5">
  <h1 class="text-center">Refund Policy</h1>
  <h3 class="p-5">
    Refunds Policy: At Gifshion, we aim to provide a seamless and satisfying shopping experience. In
    the event that you are not completely satisfied with your purchase, we offer a refund policy to
    address your concerns. Please review our refund policy below: Eligibility for Refunds: Refunds
    are available for eligible products that meet the specified criteria outlined in our refund
    policy. Please note that certain products may be non-refundable due to hygiene or safety
    reasons, such as intimate apparel, cosmetics, or perishable goods like cakes or chocolates. We
    encourage you to review the product description or contact our customer support team for any
    specific queries regarding refund eligibility. Refund Process: To initiate a refund, please
    follow these steps: a. Contact our customer support team or visit our website to request a
    refund. b. Provide the necessary details such as your order number, product information, and
    reason for the refund. c. Our customer support team will guide you through the necessary steps
    and provide you with a refund authorization. d. Once the refund is authorized, we will process
    the refund to your original payment method. Please note that it may take some time for the
    refund to reflect in your account, depending on your bank or payment provider. We appreciate
    your patience in such cases. Conditions for Refunds: To be eligible for a refund, please ensure
    that the following conditions are met: a. The item must be unused, in its original packaging,
    and in the same condition as when you received it. b. The refund request should be initiated
    within the specified time frame, typically within 15 days from the date of delivery. In some
    cases, we may require the returned item to be shipped back to us. Any shipping charges incurred
    during the return process may or may not be refundable, depending on the circumstances. Please
    contact our customer support team for specific instructions regarding return shipments. Refunds
    for Canceled Orders: If your order is canceled for any reason, such as unavailability of the
    product or failure to process the payment, we will initiate a refund to your original payment
    method. You will be notified of the cancellation and refund process. Refunds for Faulty or
    Damaged Products: If you receive a faulty or damaged product, please contact our customer
    support team immediately with relevant details and supporting evidence (such as photographs). We
    will assess the situation and, if necessary, arrange for a return and provide you with a refund
    or replacement. Please note that these refund policies are subject to change. We encourage you
    to review our refund policy periodically for any updates or changes. If you have any questions
    or require assistance regarding our refund policy, please reach out to our customer support
    team. We are here to help and ensure your satisfaction with your shopping experience at
    Gifshion. Thank you for choosing Gifshion.
  </h3>
</diviv>
{% endblock %}
