{% extends 'base.html' %} {% load static %} {% block content %}
<div class="p-5">
  <h1 class="text-center bold text-decoration-underline"><b>Terms and Conditions</b></h1>
  <h3>
    Welcome to Gifshion! </h4>
  <br />
  <h4>Before using our e-commerce website or making any purchases, please read
    and understand the following Terms & Conditions. By accessing or using our website, you
    acknowledge that you have read, understood, and agreed to be bound by these Terms & Conditions.
    If you do not agree with any part of these Terms & Conditions, please refrain from using our
    website. </h4>
  <br />
  <h4>Product Information:</h4>
  <br />
  <h4> We strive to provide accurate and up-to-date information regarding
    our products, including descriptions, prices, and availability. However, we cannot guarantee the
    complete accuracy of such information at all times. In the event of any inaccuracies, we reserve
    the right to correct errors, modify or update product information without prior notice.</h4>
  <br />
  <h4> Order
    Acceptance:</h4>
  <br />
  <h4> Placing an order on our website constitutes an offer to purchase the selected
    product(s). We reserve the right to accept or decline your order at our discretion.</h4>
  <br />
  <h4> Upon
    receiving your order, we will send you an order confirmation email containing the details of
    your purchase. Please note that this confirmation does not guarantee order acceptance.</h4>
  <br />
  <h4> In the
    event that we are unable to fulfill your order, we will notify you and provide options for a
    suitable resolution, which may include canceling the order or offering alternatives. </h4>
  <br />
  <h4>Pricing and
    Payment: </h4>
  <br />
  <h4>All prices displayed on our website are in the specified currency and are exclusive of
    applicable taxes, fees, and shipping charges, unless stated otherwise.</h4>
  <br />
  <h4> We reserve the right to
    change prices at any time without prior notice. However, once an order is placed and confirmed,
    the price will remain fixed for that order.</h4>
  <br />
  <h4> Payment for your order can be made through the
    available payment methods provided on our website. By providing payment details, you confirm
    that you are authorized to use the selected payment method. </h4>
  <br />
  <h4>Shipping and Delivery:</h4>
  <br />
  <h4> We strive to
    process and dispatch orders within the specified time frame. However, delivery times may vary
    depending on factors beyond our control, such as location and carrier service. </h4>
  <br />
  <h4>We are not
    responsible for any delays or damages that may occur during the shipping process. However, we
    will assist you to the best of our ability in resolving any shipping-related issues.</h4>
  <br />
  <h4> Returns,
    Exchanges, and Refunds: Please refer to our separate Returns and Exchange policies for detailed
    information on returning products, initiating exchanges, and obtaining refunds. </h4>
  <br />
  <h4>Intellectual
    Property: </h4>
  <br />
  <h4>All content on the Gifshion website, including but not limited to text, images, logos,
    trademarks, and graphics, is protected by intellectual property laws and is the property of
    Gifshion or its respective owners. Unauthorized use or reproduction of any content is strictly
    prohibited. </h4>
  <br />
  <h4>Privacy:</h4>
  <br />
  <h4> We value your privacy and handle your personal information in accordance
    with our Privacy Policy. By using our website, you consent to the collection, use, and
    disclosure of your personal information as described in our Privacy Policy.</h4>
  <br />
  <h4> Modifications and
    Termination: </h4>
  <br />
  <h4>We reserve the right to modify or update these Terms & Conditions at any time. It
    is your responsibility to review the Terms & Conditions periodically for any changes. </h4>
  <br />
  <h4>We may
    terminate or suspend your access to our website without prior notice if we believe you have
    violated these Terms & Conditions or engaged in any unlawful or unauthorized activities.</h4>
  <br />
  <h4> Please
    note that these Terms & Conditions are governed by and interpreted in accordance with the laws
    of the jurisdiction in which Gifshion is incorporated.</h4>
  <br />
  <h4> If you have any questions or concerns
    about our Terms & Conditions, please contact our customer support team for further assistance.</h4>
  <br />
  <h4>
    Thank you for choosing Gifshion. Enjoy your shopping experience!
  </h3>
  <br />

</div>
{% endblock %}
