<footer class="py-5">
   {% load static %}
      <div class="container">
        <div class="row">
          {% comment %} <div class="col-6 col-md-2 mb-3">
            <h4>Shop</h4>
            <ul>
              <li><a href="#">All Products</a></li>
              <li><a href="#">Kurtas</a></li>
              <li><a href="#">Pants</a></li>
              <li><a href="#">Shitrs</a></li>
              <li><a href="#">Jackets</a></li>
              <li><a href="#">Jewelry</a></li>
              <li><a href="#">Rakhi Special</a></li>
              <li><a href="#">Best Sellers</a></li>
              <li><a href="#">Gifting</a></li>
              <li><a href="#">E-Gift Card</a></li>
            </ul>
          </div> {% endcomment %}
          {% comment %} <div class="col-6 col-md-2 mb-3">
            <h4>CUSTOMER CARE</h4>
            <ul>
              <li><a href="#">Contact Us</a></li>
              <li><a href="#">News &amp; Media</a></li>
              <li><a href="#">Delivery and Returns</a></li>
              <li><a href="#">FAQs</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Terms of Use</a></li>
            </ul>
          </div> {% endcomment %}
          <div class="col-6 col-md-2 mb-3">
            <h4>CUSTOMER CARE</h4>
            <ul>
              <li><a href="{% url 'about-us' %}">About Us</a></li>
              <li><a href="{% url 'cancel' %}">Cancellation Policy</a></li>
              <li><a href="{% url 'why_us' %}">Why Us?</a></li>
              <li><a href="{% url 'tc' %}">Terms And Conditions</a></li>
              <li><a href="{% url 'refund' %}">Refund Policy</a></li>
              <li><a href="{% url 'pp' %}">Privacy Policy</a></li>
              <li><a href="{% url 'midnight_delivery' %}">Midnight Delivery Policy</a></li>
              <li><a href="{% url 'exchange' %}">Exchange Policy</a></li>
            </ul>
          </div>
          <div class="col-6 col-md-2 mb-3">
            <h4>My Account</h4>
            <ul>
              <li><a href="{% url 'profile' %}">My Profile</a></li>
              <li><a href="{% url 'orders' %}">My Orders</a></li>
            </ul>
          </div>
          <div class="col-12 col-md-4 mb-3">
            <h4>Sign Up for our NEWSLETTER!</h4>
            <div class="footer-newsletter">
              <label>Your Email Id*</label>
              <form id="form">
                <input
                  type="email"
                  placeholder="Enter your email"
                  name="email"
                  required=""
                  id="email"
                /><button type="submit">SUSBCRIBE</button>
              </form>
          </form>
            </div>
          </div>
          <div class="col-md-12 mt-3 mb-3">
            <ul class="nav justify-content-center footer-social">
              <li>
            <a href="{{social.facebook}}"><i class="flaticon-facebook"></i></a>
          </li>
          <li>
            <a href="{{social.instagram}}"><i class="flaticon-instagram"></i></a>
          </li>
            </ul>
            <hr/>
            <ul class="nav justify-content-center footer-social">
              <li>
                <h4>CONTACT US</h4> 
                <div class="d-flex gap-5" style="align-items:center; ">
                  <img src="{% static './assets/images/call-icon-call.svg'%}" width="40px"/>
                  <h6>{{social.phone}}</h6>
                </div>
                 <div class="d-flex gap-5" style="align-items:center; ">
                  <img src="{% static './assets/images/mail.png'%}" width="40px"/>
                  <h6>{{social.email}}</h6>
                </div>
              </li>
            </ul>
            <p class="text-center copyright">©2023 Gifshion</p>
          </div>
        </div>
      </div>
    </footer>

{% comment %} <footer class="py-5">
  {% load static %}
  <div class="container">
    <div class="row">
      <div class="col-2" id="all-products">
        <ul>
          <li><a href="{% url 'about-us' %}">About Us</a></li>
          <li><a href="{% url 'cancel' %}">Cancellation Policy</a></li>
          <li><a href="{% url 'why_us' %}">Why Us?</a></li>
          <li><a href="{% url 'tc' %}">Terms And Conditions</a></li>
          <li><a href="{% url 'refund' %}">Refund Policy</a></li>
          <li><a href="{% url 'pp' %}">Privacy Policy</a></li>
          <li><a href="{% url 'midnight_delivery' %}">Midnight Delivery Policy</a></li>
          <li><a href="{% url 'exchange' %}">Exchange Policy</a></li>
        </ul>
      </div>
      <div class="col-2" id="account">
        <h4>My Account</h4>
        <ul>
          <li><a href="{% url 'profile' %}">My Profile</a></li>
          <li><a href="{% url 'orders' %}">My Orders</a></li>
        </ul>
      </div>
      <div class="col-2">
      </div>
      <div class="col-2">
      </div>
      <div class="col-4" id="newsletter">
        <h4>Sign Up for our NEWSLETTER!</h4>
        <div class="footer-newsletter">
          <label>Your Email Id*</label>
          <form id="form">
            <input type="email" id="email" placeholder="Enter your email" name="email" required="" /><button
              type="submit">SUSBCRIBE</button>
          </form>
        </div>
      </div>
      <div class="col-md-12 mt-3">
        <ul class="nav justify-content-center footer-social">
          <li>
            <a href="{{social.facebook}}"><i class="flaticon-facebook"></i></a>
          </li>
          <li>
            <a href="{{social.instagram}}"><i class="flaticon-instagram"></i></a>
          </li>
        </ul>
        <p class="text-center">©2023 Gifshion</p>
      </div>
    </div>
  </div>

</footer> {% endcomment %}

<div class="hemburger-menu-block">
  <div class="hemburger-menu">
    <div class="h-head d-flex justify-content-between align-items-center py-2">
      <div class="">
        <a href="{% url 'Home' %}"><img src={% static './assets/images/Asset 1@300x (1).png' %} alt="GI Fshion"
            width="50px" height="20px" /></a>
      </div>
      {% comment %} <div>
        <ul class="d-flex">
          <li>
            <select name="" id="">
              <option value="inr">₹ INR</option>
              <option value="usd">$ USD</option>
            </select>
          </li>
          <li>
            <div class="close-icon">
              <i class="fa fa-close"></i>
            </div>
          </li>
        </ul>
      </div> {% endcomment %}
    </div>
    {% if not user.is_authenticated %}
    <ul class="d-flex">
      <li class="w-50"><a href="{% url 'login' %}">Sign in</a></li>
      <li class="w-50"><a href="{% url 'register' %}">Register</a></li>
    </ul>
    {% endif %}
    <div class="h-menu">
      <ul>
        <li>
          <a href={% url 'Home' %}>Home
            <div class="m-icon"><i class="fa fa-home"></i></div>
          </a>
        </li>
          {% for category in Category%}
       <li class="h-sub-menu">
            <div class="price-swticher">
              <div class="dropdown">
                <a class="btn btn-sm btn-light dropdown-toggle" type="button" id="dropdownMenuButton1"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  {{category}}
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  {% for subcategory in category.main_category_set.all %}
                  <li class="h-sub-menu">
            <div class="price-swticher">
              <div class="dropdown">
                <a class="btn btn-sm btn-light dropdown-toggle" type="button" id="dropdownMenuButton2"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  {{subcategory}}
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                  {% for subcategory in category.main_category_set.all %}
                  <li><a class="dropdown-item" href="">{{subcategory}}</a></li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </li>
          {%endfor%}
        <li class="dropdown">
          <a href="{% url 'profile' %}">My Account
            <div class="m-icon"><i class="flaticon-next"></i></div>
          </a>
          <ul class="h-sub-menu">
            
            <li><a href="{% url 'orders' %}">My Orders</a></li>
          </ul>
        </li>
        <li class="h-sub-menu">
          <li><a href="{% url 'cart' %}">Cart</a></li>
        </li>
        <li class="h-sub-menu">
            <div class="price-swticher">
              <div class="dropdown">
                <a class="btn btn-sm btn-light dropdown-toggle" type="button" id="dropdownMenuButton1"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  {{request.session.icon}} {{request.session.currency_code}}
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  {% for currency in currencies%}
                  <li><a class="dropdown-item" href="{% url 'change_currency' currency.id%}">{{currency.icon}}
                      {{currency.code}}</a></li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </li>
      </ul>
    </div>
    <div class="h-bottom">
      <ul class="nav justify-content-center footer-social">
        <li>
          <a href="{{social.facebook}}"><i class="flaticon-facebook"></i></a>
        </li>
        <li>
          <a href="{{social.instagram}}"><i class="flaticon-instagram"></i></a>
        </li>
      </ul>
      <p class="text-center">©2023 Gifshion</p>
    </div>
  </div>
</div>

<script>
  function processForm(e) {
    if (e.preventDefault) e.preventDefault();
    let mail = document.getElementById('email').value
    if (mail == '') {
      alert('Please enter your email')
    }
    fetch(`/mail/${mail}`)
    alert("Thank you for subscribing to our newsletter")
    return false;
  }

  var form = document.getElementById('form');
  if (form.attachEvent) {
    form.attachEvent("submit", processForm);
  } else {
    form.addEventListener("submit", processForm);
  }
  var width = window.innerWidth ||
    document.documentElement.clientWidth ||
    document.body.clientWidth;
  if (width < 760) {
    document.getElementById('account').classList.add('col-4')
    document.getElementById('all-products').classList.add('col-4')
  }
  </script>
<style>
  @media(max-width:760px){
    #newsletter{
      display: none;
    }
  }
</style>