<footer class="py-5">
   {% load static %}
      <div class="container">
        <div class="row">
          {% comment %} <div class="col-6 col-md-2 mb-3">
            <h4>Shop</h4>
            <ul>
              <li><a href="#">All Products</a></li>
              <li><a href="#">Kurtas</a></li>
              <li><a href="#">Pants</a></li>
              <li><a href="#">Shitrs</a></li>
              <li><a href="#">Jackets</a></li>
              <li><a href="#">Jewelry</a></li>
              <li><a href="#">Rakhi Special</a></li>
              <li><a href="#">Best Sellers</a></li>
              <li><a href="#">Gifting</a></li>
              <li><a href="#">E-Gift Card</a></li>
            </ul>
          </div> {% endcomment %}
          <div class="col-6 col-md-2 mb-3">
            <h4>QUICK LINKS</h4>
            <ul>
              <li><a href="{% url 'about-us' %}">About Us</a></li>
              <li><a href="{% url 'tc' %}">Terms And Conditions</a></li>
              <li><a href="{% url 'pp' %}">Privacy Policy</a></li>
              <li><a href="{% url 'why_us' %}">Why Us?</a></li>
            </ul>
          </div>
          <div class="col-6 col-md-2 mb-3">
            <h4>FAQ'S</h4>
            <ul>
              <li><a href="{% url 'cancel' %}">Cancellation Policy</a></li>
              <li><a href="{% url 'refund' %}">Refund Policy</a></li>
              <li><a href="{% url 'midnight_delivery' %}">Midnight Delivery Policy</a></li>
              <li><a href="{% url 'exchange' %}">Exchange Policy</a></li>
            </ul>
          </div>
          <div class="col-6 col-md-2 mb-3">
            <h4>My Account</h4>
            <ul>
              <li><a href="{% url 'profile' %}">My Profile</a></li>
              <li><a href="{% url 'orders' %}">My Orders</a></li>
            </ul>
          </div>
          <div class="col-12 col-md-4 mb-3">
            <h4>Sign Up for our NEWSLETTER!</h4>
            <div class="footer-newsletter">
              <label>Your Email Id*</label>
              <form id="form" style="
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
              ">
                <input
                  type="email"
                  placeholder="Enter your email"
                  name="email"
                  required=""
                  id="email"
                /><button type="submit">SUSBCRIBE</button>
              </form>
          </form>
            </div>
          </div>
          <div class="col-md-12 mt-3 mb-3">
            <ul class="nav justify-content-center footer-social">
              <li>
            <a href="{{social.facebook}}"><i class="flaticon-facebook"></i></a>
          </li>
          <li>
            <a href="{{social.instagram}}"><i class="flaticon-instagram"></i></a>
          </li>
            </ul>
            <hr/>
            <ul class="nav justify-content-center footer-social">
                <div class="d-flex gap-1" style="align-items:center; ">
                  <img src="{% static './assets/images/call-icon-call.svg'%}" width="40px"/>
                  <h6>{{social.phone}}</h6>
                </div>
                 <div class="d-flex gap-1" style="align-items:center; ">
                  <img src="{% static './assets/images/mail.png'%}" width="60px"/>
                   <h6>{{social.email}}</h6>
                  </div>
                </ul>
                <p class="text-center copyright">©2023 Gifshion</p>
              </div>
            </div>
          </div>
        </footer>

<div class="hemburger-menu-block">
  <div class="hemburger-menu">
    <div class="h-head d-flex justify-content-between align-items-center py-2">
      <div class="">
        <a href="{% url 'Home' %}"><img src={% static './assets/images/Asset 1@300x (1).png' %} alt="Gifshion"
            width="50px" height="20px" /></a>
      </div>
      {% comment %} <div>
        <ul class="d-flex">
          <li>
            <select name="" id="">
              <option value="inr">₹ INR</option>
              <option value="usd">$ USD</option>
            </select>
          </li>
          <li>
            <div class="close-icon">
              <i class="fa fa-close"></i>
            </div>
          </li>
        </ul>
      </div> {% endcomment %}
    </div>
    {% if not user.is_authenticated %}
    <ul class="d-flex">
      <li class="w-50"><a href="{% url 'login' %}">Sign in</a></li>
      <li class="w-50"><a href="{% url 'register' %}">Register</a></li>
    </ul>
    {% else %}
    <ul class="d-flex">
      <li class="w-50"><a href="{% url 'profile' %}">My Account</a></li>
    </ul>
    {% endif %}
    <div class="h-menu">
      <ul>
        <li>
          <a href={% url 'Home' %}>Home
            <div class="m-icon"></div>
          </a>
        </li>
          {% for category in Category%}
          <li>
            <a onclick="handleClick(event)" class="sub-btn sub-cat" > {{category.name}} </a>
         <div class="sub-menu">
           {% for cat in category.main_category_set.all %}
                            {% for scat in cat.sub_category_set.all %}
                            <a href="/category/{{scat.id}}/" class="sub-item">{{scat.name}}</a>
                                {% endfor %}
                                {% endfor %}
         </div>
        </li>
                      
              {% endfor %}
              <ul>
    </div>
    <hr>
    <div class="h-bottom">
      <ul class="nav justify-content-center footer-social">
        <li>
          <a href="{{social.facebook}}"><i class="flaticon-facebook"></i></a>
        </li>
        <li>
          <a href="{{social.instagram}}"><i class="flaticon-instagram"></i></a>
        </li>
      </ul>
      <p class="text-center">©2023 Gifshion</p>
    </div>
  </div>
</div>

<script>
  function processForm(e) {
    if (e.preventDefault) e.preventDefault();
    let mail = document.getElementById('email').value
    if (mail == '') {
      alert('Please enter your email')
    }
    fetch(`/mail/${mail}`)
    alert("Thank you for subscribing to our newsletter")
    return false;
  }

  var form = document.getElementById('form');
  if (form.attachEvent) {
    form.attachEvent("submit", processForm);
  } else {
    form.addEventListener("submit", processForm);
  }
  var width = window.innerWidth ||
    document.documentElement.clientWidth ||
    document.body.clientWidth;
  if (width < 760) {
    document.getElementById('account').classList.add('col-4')
    document.getElementById('all-products').classList.add('col-4')
  }
  </script>

   <script type="text/javascript">
      function handleClick(event){
        event.target.nextElementSibling.classList.toggle('show-thing')
      }
   </script>
<style>

.show-thing{
  display: block !important;
  margin-left: 20px !important;
}

.side-bar.active{
 left: 0;
}

.side-bar .menu{
 width: 100%;
 margin-top: 30px;
}

.menu .item{
 position: relative;
 cursor: pointer;
}


.sub-menu{
 display: none;
}

.sub-menu a{
 padding-left: 80px;
}

 .sub-cat:after {
   color: #444;
   content: ' ▾';
}


   </style>