{% load static %}
<header id="header">
  {% if not notification|length == 0%}
  <div class="header-promo p-2">
    <div id="promoslide" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        {% for alert in notification|slice:":1" %}
        <div class="carousel-item active">
          <p class="m-0 text-center">{{alert.announcement}}</p>
        </div>
        {% endfor %} {% for alert in notification|slice:"1:" %}
        <div class="carousel-item">
          <p class="m-0 text-center">{{alert.announcement}}</p>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endif %}
  <div class="main-header mobile-header">
    <div class="main-bar">
      <div class="container px-4 d-flex justify-content-between align-items-center">
        <div class="navbar-left d-flex align-items-center">
          <div class="hamburger-icon">
            <i class="flaticon-menu"></i>
          </div>
          <div class="search-icon mx-3" id="myBtn">
                <a href="#"><i class="flaticon-loupe"></i></a>

                <div id="myModal" class="modal">
                  <!-- Modal content -->
                  <div class="modal-content">
                    <span class="close">&times;</span>
                    {% comment %} add grid system {% endcomment %}
                    <h4 class="text-center">Search</h4>
                    <hr />
                    <div class="container contt">
                      <form action="{% url 'product-listing' %}" method="GET">
                        <div class="row">
                          <div class="col-md-10">
                            <input
                              type="text"
                              name="search"
                              class="form-control"
                              placeholder="Search"
                            />
                          </div>
                          <div class="col-md-2">
                            <button type="submit" class="btn btn-primary">Search</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="main-logo text-center">
          <a href="{% url 'Home' %}"
            ><img class="img-fluid" alt="Gifshion" src={%static './assets/images/Logo.png'%}
            width="100" /></a
          >
        </div>
        <div class="navbar-right d-flex justify-content-end align-items-center h-100">
           <div class="user-icon mx-3">
                {% if user.is_authenticated%}
                <a class="user-block" href="{% url 'profile' %}"><i class="flaticon-user"></i></a>
                {%else%}
                <a class="user-block" href="{% url 'login' %}"><i class="flaticon-user"></i></a>
                {% endif %}
                <ul class="user-dropdown">
                   {% if not user.is_authenticated%}
                  <li>
                    <a href="{% url 'login'%}"><i class="flaticon-download-arrow"></i>Sign in</a>
                  </li>
                  <li>
                    <a href="{% url 'register'%}"><i class="flaticon-file"></i>Register</a>
                  </li>
                  {% endif %}
                  {% if user.is_authenticated%}
                  <li>
                    <a href="{% url 'cart'%}"><i class="flaticon-shopping"></i>My Cart</a>
                  </li>
                  <li>
                    <a href="{% url 'profile' %}"><i class="flaticon-user-1"></i>My Account</a>
                  </li>
                  <li>
                    <a href="{% url 'wishlist' %}"><i class="flaticon-love"></i>My WishList</a>
                  </li>
                  <li>
                    <a href="{% url 'logout' %}"></i>Logout</a>
                  </li>
                  {% endif %}
                </ul>
              </div>
          <div class="cart-icon">
                {% if user.is_authenticated%}
                <a href="{% url 'cart_detail' %}" class="position-relative">
                  <i class="flaticon-shopping-bag"></i>
                  <span
                    class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-dark"
                  >
                    {{request.session.cart_items}}
                    <span class="visually-hidden">unread messages</span>
                  </span>
                </a>
                {% endif %}
              </div>
        </div>
      </div>
    </div>{% comment %}
     <nav class="navbar main-manu p-0">
      <div class="container">
        <ul class="nav nav-manu justify-content-center w-100">
          {% for mcat in Category %}
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">{{mcat.name}}</a>
            <div class="mega-menu py-5">
              <div class="container">
                <div class="row">
                  <div class="col-md-10 offset-md-1">
                    <div class="row">
                      {% for cat in mcat.main_category_set.all %}
                      <div class="col-md-3">
                        <div class="mega-menu-block">
                          <h4>{{cat.name}}</h4>
                          <ul>
                            {% for scat in cat.sub_category_set.all %}
                            <li><a href="/category/{{scat.id}}/">{{scat.name}}</a></li>
                            {% endfor %}
                          </ul>
                        </div>
                      </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </nav>
    {% endcomment %}
  </div>
  <div class="main-header">
    <div class="main-bar">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="navbar-left d-flex align-items-center h-100">
              <div class="hamburger-icon">
                <i class="flaticon-menu"></i>
              </div>
               <div class="search-icon mx-3" id="myBtn2">
                <a href="#"><i class="flaticon-loupe"></i></a>

                <div id="myModal2" class="modal">
                  <!-- Modal content -->
                  <div class="modal-content">
                    <span class="close">&times;</span>
                    {% comment %} add grid system {% endcomment %}
                    <h4 class="text-center">Search</h4>
                    <hr />
                    <div class="container contt">
                      <form action="{% url 'product-listing' %}" method="GET">
                        <div class="row">
                          <div class="col-md-10">
                            <input
                              type="text"
                              name="search"
                              class="form-control"
                              placeholder="Search"
                            />
                          </div>
                          <div class="col-md-2">
                            <button type="submit" class="btn btn-primary">Search</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="main-logo text-center">
              <a href="{% url 'Home' %}"
                ><img src={%static 'assets/images/Logo.png'%} style="max-width:135px;"
                class="img-fluid" alt="Gifshion" /></a
              >
            </div>
          </div>
          <div class="col-md-4">
            <div class="navbar-right d-flex justify-content-end align-items-center h-100">
              {% comment %}
              <div class="price-swticher">
                <select name="" id="">
                  {% for currency in currencies%}
                  <option value="inr">
                    <a class="dropdown-item" href="{% url 'change_currency' currency.id%}"
                      >{{currency.icon}} {{currency.code}}</a
                    >
                  </option>
                  {% endfor %}
                </select>
              </div>
              {% endcomment %}
              <div class="price-swticher">
                <div class="dropdown">
                  <a
                    class="btn btn-sm btn-light dropdown-toggle"
                    type="button"
                    id="dropdownMenuButton1"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    {{request.session.icon}} {{request.session.currency_code}}
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    {% for currency in currencies%}
                    <li>
                      <a class="dropdown-item" href="{% url 'change_currency' currency.id%}"
                        >{{currency.icon}} {{currency.code}}</a
                      >
                    </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
              <div class="user-icon mx-3">
                {% if user.is_authenticated%}
                <a class="user-block" href="{% url 'profile' %}"><i class="flaticon-user"></i></a>
                {%else%}
                <a class="user-block" href="{% url 'login' %}"><i class="flaticon-user"></i></a>
                {% endif %}
                <ul class="user-dropdown">
                   {% if not user.is_authenticated%}
                  <li>
                    <a href="{% url 'login'%}"><i class="flaticon-download-arrow"></i>Sign in</a>
                  </li>
                  <li>
                    <a href="{% url 'register'%}"><i class="flaticon-file"></i>Register</a>
                  </li>
                  {% endif %}
                  {% if user.is_authenticated%}
                  <li>
                    <a href="{% url 'cart'%}"><i class="flaticon-shopping"></i>My Cart</a>
                  </li>
                  <li>
                    <a href="{% url 'profile' %}"><i class="flaticon-user-1"></i>My Account</a>
                  </li>
                  <li>
                    <a href="{% url 'wishlist' %}"><i class="flaticon-love"></i>My WishList</a>
                  </li>
                  <li>
                    <a href="{% url 'logout' %}"></i>Logout</a>
                  </li>
                  {% endif %}
                </ul>
              </div>
              <div class="cart-icon">
                {% if user.is_authenticated%}
                <a href="{% url 'cart_detail' %}" class="position-relative">
                  <i class="flaticon-shopping-bag"></i>
                  <span
                    class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-dark"
                  >
                    {{request.session.cart_items}}
                    <span class="visually-hidden">unread messages</span>
                  </span>
                </a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <nav class="navbar main-manu p-0">
      <div class="container">
        <ul class="nav nav-manu justify-content-center w-100">
          {% for mcat in Category %}
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">{{mcat.name}}</a>
            <div class="mega-menu py-5">
              <div class="container">
                <div class="row">
                  <div class="col-md-10 offset-md-1">
                    <div class="row">
                      {% for cat in mcat.main_category_set.all %}
                      <div class="col-md-3">
                        <div class="mega-menu-block">
                          <h4>{{cat.name}}</h4>
                          <ul>
                            {% for scat in cat.sub_category_set.all %}
                            <li><a href="/category/{{scat.id}}/">{{scat.name}}</a></li>
                            {% endfor %}
                          </ul>
                        </div>
                      </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </nav>
  </div>
</header>
<div class="p-2">
{% for message in messages %}
<div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
  <b>{{message}}</b>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
{% endfor %}
</div>
{% comment %} {% endcomment %}

<style>
  @media (max-width: 1200px) {
    .product-details-page .owl-dots {
      display: flex !important;
    }
  }
  @media (max-width: 768px) {
    .slider-area {
      margin-top: 180px !important;
    }
    .owl-dots {
      display: flex !important;
    }
  }
  .contt {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    overflow: scroll;
  }
</style>


<script>
  // Get the modal
  var modal = document.getElementById("myModal");
  var modal2 = document.getElementById("myModal2");

  // Get the button that opens the modal
  var btn = document.getElementById("myBtn");
  var btn2 = document.getElementById("myBtn2");

  // Get the <span> element that closes the modal
  var span = document.getElementsByClassName("close")[0];
  var span2 = document.getElementsByClassName("close")[1];

  // When the user clicks the button, open the modal
  btn.onclick = function () {
    modal.style.display = "block";
    modal.classList.remove("d-none");
  };
    btn2.onclick = function () {
      modal2.style.display = "block";
      modal2.classList.remove("d-none");
  };

  // When the user clicks on <span> (x), close the modal
  span.onclick = function (event) {
     modal2.style.display = "";
  };
  span2.onclick = function () {
     modal2.style.display = "";
  };

  window.onclick = function (event) {
    if (event.target == modal2) {
      modal2.style.display = "none";
    }

     if (event.target == modal) {
      modal.style.display = "none";
    }

    
  };

  // When the user clicks anywhere outside of the modal, close it
  {% comment %} window.onclick = function (event) {
    modal.style.display = "none";
      modal2.style.display = "none";
    
  }; {% endcomment %}
</script>

<style>
  .owl-dots {
    display: none !important;
  }
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  }

  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }

  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
</style>
