<header>

  {% load static %}
  {% if not notification|length == 0%}
  <div class="header-promo p-2">
    <div id="promoslide" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        {% for alert in notification|slice:":1" %}
        <div class="carousel-item active">
          <p class="m-0 text-center">
            {{alert.announcement}}
          </p>
        </div>
        {% endfor %}
         {% for alert in notification|slice:"1:" %}
        <div class="carousel-item">
          <p class="m-0 text-center">
            {{alert.announcement}}
          </p>
        </div>
        {% endfor %}
    </div>
  </div>
</div>
{% endif %}
  <div class="main-bar">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="navbar-left d-flex align-items-center h-100">
            <div class="hamburger-icon">
              <i class="flaticon-menu"></i>
            </div>
            <div class="search-icon mx-3">
              <i class="flaticon-search"></i>
            </div>

          </div>
        </div>
        <div class="col-md-4" id="right-icons">
          <div class="main-logo text-center">
            <a href="/">
              <img src="{% static './assets/images/Asset 1@300x (1).png' %}" style="max-width:135px;" class="img-fluid"
                alt="Gifshion">
            </a>
          </div>
        </div>
        <div class="col-md-4" >
          <div class="navbar-right d-flex justify-content-end align-items-center h-100" id="top-icons">
            <a href="{% url 'product-listing' %}">
              <img src="{% static './assets/images/search.png' %}" class="m-2">
            </a>
            <div class="price-swticher">
              <div class="dropdown">
                <a class="btn btn-sm btn-light dropdown-toggle" type="button" id="dropdownMenuButton1"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  {{request.session.icon}} {{request.session.currency_code}}
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  {% for currency in currencies%}
                  <li><a class="dropdown-item" href="{% url 'change_currency' currency.id%}">{{currency.icon}}
                      {{currency.code}}</a></li>
                  {% endfor %}
                </ul>
              </div>
            </div>
            {% if user.is_authenticated %}
            <div class="user-icon mx-3">
              <a href="{% url 'logout' %}"></i>Logout</a>
              {% if messages %}
              {% for message in messages %}
              {% if messages.tag == 'error' %}
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{message}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
                <span aria-hidden="true">&times;</span>
              </div>
              {% endif %}
              {% endfor %}
              {% endif %}
            </div>
            {% else %}
            <div class="user-icon mx-3">
              <a href="{% url 'login' %}"> login</a>
              {% if messages %}
              {% for message in messages %}
              {% if messages.tag == 'error' %}
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{message}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
                <span aria-hidden="true">&times;</span>
              </div>
              {% endif %}
              {% endfor %}
              {% endif %}
            </div>
            {% endif %}
            <div class="cart-icon">
              <a href="{% url 'cart_detail' %}" class="position-relative">
                <i class="flaticon-shopping-bag"></i>
                {% if user.is_authenticated%}
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-dark">
                  {{request.session.cart_items}}
                  <span class="visually-hidden">unread messages</span>
                </span>
                {% endif %}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="navbar main-manu p-0">
    <div class="container">

      <ul class="nav nav-manu justify-content-center w-100">

        {% for mcat in Category %}
        <li class="nav-item">

          <a class="nav-link" aria-current="page" href="#">{{mcat.name}}</a>
          <div class="mega-menu py-5">
            <div class="container">
              <div class="row">
                <div class="col-md-10 offset-md-1">
                  <div class="row">
                    {% for cat in mcat.main_category_set.all %}
                    <div class="col-md-3">
                      <div class="mega-menu-block">
                        <h4>{{cat.name}}</h4>
                        <ul>
                          {% for scat in cat.sub_category_set.all %}
                          <li><a href="/category/{{scat.id}}/">{{scat.name}}</a></li>
                          {% endfor %}
                        </ul>
                      </div>
                    </div>
                    {% endfor %}



                  </div>
                </div>
              </div>
            </div>
          </div>



        </li>


        {% endfor %}

      </ul>

    </div>
  </div>
</header>

<style>
  @media (max-width: 1200px){
    .product-details-page .owl-dots{
      display: flex !important;
    }
  }
  @media(max-width: 768px){
    .slider-area{
      margin-top:180px !important;
    }
    .owl-dots{
      display: flex !important;
    }
  }
</style>

<script>
  var width = window.innerWidth ||
    document.documentElement.clientWidth ||
    document.body.clientWidth;
  if (width < 768) {
    document.getElementById("top-icons").classList.add("d-none");
  }
</script>