{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load product_tags %}
{% load divide %}
{% load sellprice %}


<!-- Product Details Page -->

<section class="product-details-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="breadcrumbs py-3">
          <ul>
            {% for i in product %}
            <li><a href="{% url 'Home' %}">Home</a></li>
            <li><a href="{{i.get_absolute_url}}">{{i.name}}</a></li>
            {% endfor%}
          </ul>
        </div>
      </div>
      <div class="col-md-6">
        <div class="product-gallery">
          <div class="product-wishlist-more">
            {% if request.user.is_authenticated %}
            <a href="{% url 'wishlist' %}"><i class="flaticon-love"></i></a>

            {% endif %}

            <div class="product-share">

              <a href="#"><i class="flaticon-share"></i></a>

            </div>
          </div>


          {% for product in product %}

          <div class="owl-carousel product-gallery-block" data-slider-id="1">
            {% for image in product.images.all %}
            <div class="p-gallery-item " title="caption image {{product.id}}">
              <img src="{{image.Image_url.url}}" alt="">
            </div>
            {% endfor %}
          </div>
          {% endfor %}
          {% for j in product %}
          <div class="owl-thumbs" data-slider-id="1">
            {% for i in j.images.all %}
            <div class="owl-thumb-item">
              <img class="img-fluid" src="{{i.Image_url.url}}" alt="" />
            </div>
            {%endfor %}
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="col-md-6">
        {% for i in product %}
        <div class="products-details">
          <h1>{{i.name}}</h1>
          <div class="review-share d-flex justify-content-between">
            <div>
              <ul class="nav">
                <li>
                  <span class="bg-success text-white">{{i.review}} <i class="fa fa-star"></i></span>
                </li>
                <li><a href="#">{{ review.content }} Review</a></li>
                <li><a href="#"> Write a Review</a></li>
              </ul>
            </div>
            <div>
              <p>
                <span>Share</span>
                <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" target="_blank">
                  <i class="fa fa-facebook"></i></a>
                <a href="https://twitter.com/intent/tweet?url={{ request.build_absolute_uri }}" target="_blank"><i
                    class="fa fa-twitter"></i></a>
              </p>
            </div>
          </div>

          <div class="short-dec">
            <div class="ori-cunt pb-2">Country of Origin: India</div>
            <p>
              {{i.Product_information|safe}}
            </p>
          </div>

          <div class="product-price">
            <span class="p-text">Price</span>
            {% with request.session.exchange as exchange %}
            <div class="price"><span>{{ request.session.icon }} {{ i.price|divide:exchange|discount:i.Discount }}
                <del>{{i.price|divide:exchange}}</del></span></div>

            {% endwith %}
            <p>(incl. of all taxes)</p>
          </div>

          <p class="mb-1 mt-3">Select Size</p>
          <div class="d-flex justify-content-between">
            <div class="product-variations">

              <ul class="nav">
                {% for color in i.color.all|slice:':1'%}
                <div class="active color-select" id="{{color.id}}" onclick="selectColor(`{{color.id}}`)">
                  <input type="color" value={{color.color}} disabled />
                </div>
                {% endfor %}
                {% for color in i.color.all|slice:'1:'%}
                <div class="color-select" id="{{color.id}}" onclick="selectColor(`{{color.id}}`)">
                  <input type="color" value={{color.color}} disabled />
                </div>
                {% endfor %}
              </ul>
            </div>
          </div>
          <p class="mb-1 mt-3">Select Size</p>
          <div class="d-flex justify-content-between">
            <div class="product-variations">
              <ul class="nav">
                {% for size in i.size_set.all|slice:":1" %}
                <li><a class="active size-select" href="#" id="{{size.id}}" onclick="selectSize(`{{size.id}}`)">
                    {{ size.Num }}</a></li>
                {% endfor %}
                {% for size in i.size_set.all|slice:"1:" %}
                <li><a class="size-select" id="{{size.id}}" onclick="selectSize(`{{size.id}}`)">
                    {{size.Num }}</a></li>
                {% endfor %}
              </ul>
            </div>
            <!--<div class="quantity-form d-flex align-items-center">
                  <div class="qun_label">Quantity</div>
                  <div class="qun_input">
                    <span class="minus"><i class="fa fa-minus"></i></span>
                    <input type="number" min="1" value="1" id="quantity">
                    <span class="plus"><i class="fa fa-plus"></i></span>
                  </div>
                </div>-->
          </div>

          </p>

          <div class="product-btn d-flex justify-content-between">
            <a class="buy-now-btn" href="{%  url 'single_checkout' i.id %}">Buy Now</a>
            <a class="add-cart-btn" href="{% url 'cart_add' i.id %}"><i class="flaticon-shopping-bag"></i>add to
              bag</a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 order-sm-last order-md-first py-5">
        {% for product in product %}
        <div class="products-decription">
          {{product.Description|safe}}
        </div>
        {% endfor %}
      </div>
      <div class="col-md-4 order-sm-first order-md-last pt-2">
        <div class="check-pincode-block">
          <h5>Check Pincode Availability</h5>
          <div class="pincode-box">
            <label for="">Enter Pincode To Check Delivery Time</label>
            <div class="form-pincode">
              <input type="number" id="pin-input" />
              <input type="submit" id="pin-dubmit" value="check" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="product-package my-4">
    {% if similar_products|length > 0 %}
    <div class="container">
      <h2 class="ppg-heading pb-3">Similar Products </h2>
      <div class="flex col{% if similar_products|length > 3%}owl-carousel products-slider{%endif%}">
        {% for i in similar_products %}
        <div class="product-item">
          <div class="product-box">
            <div class="product-images">
              <a href="{{i.get_absolute_url}}"><img class="img-fluid" src="{{i.image.url}}" alt="" /></a>
            </div>
            <div class="product-meta d-flex justify-content-between py-2">
              <span class="category">{{i.category}}</span>
              <span class="rating">{{i.rate}}<i class="fa fa-star"></i></span>
            </div>
            <a href="{{i.get_absolute_url}}">
              <h4 class="title">
                {{i.name}}
              </h4>
            </a>
            <p>
              {{i.Product_information}}
            </p>
            <div class="price"><span>₹ {{i.price}}</span></div>
          </div>
          <div class="product-bottom">
            <div class="wishlist-icon">
              <a href="{% url 'wishlist' %}"><i class="flaticon-love"></i></a>
            </div>
            <a class="add-cart" href="{% url 'cart_add' i.id %}"><i class="flaticon-shopping-bag"></i>add to bag</a>
          </div>
        </div>
        {% endfor %}

      </div>
    </div>
    {% endif %}
</section>
<!-- Products Slider -->

<script>
  function selectSize(id) {
    let elements = document.getElementsByClassName('size-select')
    for (let element of elements) {
      element.classList.remove('active')
    }
    document.getElementById(id).classList.add('active');
  }
  function selectColor(id) {
    let elements = document.getElementsByClassName('color-select')
    for (let element of elements) {
      element.classList.remove('active')
    }
    document.getElementById(id).classList.add('active');
  }
  const shareBtn = document.getElementById('share-btn');
  shareBtn.addEventListener('click', () => {
    const productId = "{{product.id}}"
    fetch(`/share-product/${productId}/`)
      .then(response => response.json())
      .then(data => {
        const shareUrl = encodeURIComponent(data.product_url);
        const shareText = 'Check out this product!';
        const shareTitle = '{{ product.name }}';
        const shareWindow = window.open(`https://twitter.com/intent/tweet?text=${shareText}&url=${shareUrl}&hashtags=example,product`);
        if (shareWindow) {
          shareWindow.focus();
        }
      });
  })
</script>

<style>
  .color-select input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
  }

  .color-select input::-webkit-color-swatch {
    border-radius: 15%;
    border: 4px solid #eee;

  }

  .color-select input::-moz-color-swatch {
    border-radius: 50%;
    border: 4px solid #000000;
  }

  .active input::-webkit-color-swatch {
    border: 4px solid #000000
  }
</style>

{% endblock %}